body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-align: center;
  background-color: rgb(37, 32, 32);
  font-family: Arial;
  color: rgb(211, 211, 211);
}

#hidden-Button {
  color: rgb(78, 0, 126);
  background-color: aqua;
  display: none;
}

.centerElements {
  margin-top: 40px;
}
