#aColor {
  color: rgb(5, 174, 5);
  font-size: 20px;
  margin: 50px auto 0 auto;
}

/*popup container to hold conjugated verbs and Spanish > English translation*/
.answerPopUp {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-align: center;
  background-color: rgb(37, 32, 32);
  font-family: Arial;
  color: rgb(211, 211, 211);
}

#maintext {
  text-align: center;
  font-family: "Mukta", serif;
  font-size: 40px;
  color: rgb(211, 211, 211);
}

#conjugations {
  display: none;
  color: rgb(211, 211, 211);
}

#accountBody {
  background-color: darkblue;
  text-align: center;
  color: rgb(211, 211, 211);
}

#flagspic {
  width: 250px;
}

#hiddenButton {
  color: rgb(78, 0, 126);
  background-color: aqua;
  display: inline-block;
}
