@import url("httpss://fonts.googleapis.com/css?family=Ubuntu:200,300,400,500,600,700,800,900@display=swap") * {
  margin: 0;
  padding: 0;
  box-sizing: broder-box;
  font-family: "Ubuntu", sans-serif;
}

#aColor {
  color: rgb(5, 174, 5);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-align: center;
  background-color: rgb(37, 32, 32);
  font-family: Arial;
  color: rgb(211, 211, 211);
}

#maintext {
  text-align: center;
  font-family: Arial;
  color: rgb(211, 211, 211);
}

#conjugations {
  display: none;
  color: rgb(211, 211, 211);
}

#accountBody {
  background-color: darkblue;
  text-align: center;
  color: rgb(211, 211, 211);
}

#flagspic {
  width: 250px;
}
