#aColor {
  color: rgb(6, 160, 6);
  font-size: 20px;
  margin: 50px auto 0 auto;
  margin-right: 5px;
  padding: 5px;
  color: rgb(32, 223, 32);
  border: 15px solid rgb(11, 186, 189);
  text-decoration: none;
  border-radius: 20px;
}

/*popup container to hold conjugated verbs and Spanish > English translation*/
.answerPopUp {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-align: center;
  background-color: #033b3c;
  font-family: Arial;
  color: rgb(211, 211, 211);
}

#maintext {
  text-align: center;
  font-family: "Rubik", serif;
  font-size: 55px;
  color: rgb(44, 248, 235);
}

#verb-Translation {
  color: rgb(14, 237, 14);
  display: none;
}

#conjugations {
  color: rgb(32, 223, 32);
  display: none;
}

#hidden-Button {
  display: none;
}

#accountBody {
  background-color: darkblue;
  text-align: center;
  color: rgb(211, 211, 211);
}

#flagspic {
  width: 250px;
  margin-bottom: 25px;
}

#germanFlag {
  width: 250px;
  margin-bottom: 25px;
  height: 200px;
}

#conjugate-Button {
  width: 90px;
  height: 35px;
  padding: 1px 0;
  margin-top: 20px;
  border-color: rgb(44, 248, 235);
  font-weight: 500;
  font-size: 16px;
}

#conjugationHeader {
  color: rgb(44, 248, 235);
  border-style: none;
}

#spanishVerb {
  margin-right: 10px;
}

#tense-Form {
  margin-left: 50px;
}

#conjugationsTable {
  display: flex;
  align-items: center;
  justify-content: center;
}
